body {
  background-color: #2a2c2f;
}
.page {
  max-width: 1280px;
  margin: 0 auto;
  min-width: 320px;
  color: #ffffff;
}

.header {
  display: flex;
  padding: 34px 0 34px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 254px;
}
.header__logo {
  width: 100%;
}

.cover {
  margin: 0 auto;
  max-width: 984px;
  padding: 56px 0 46px;
}

.cover__title {
  font-family: "Inter", sans-serif;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
}
.cover__subheading {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 720px;
  margin: 32px auto 64px;
}
.cover__image {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.text {
  margin: 0 auto;
  padding: 46px 0 46px;
  max-width: 984px;
}
.text__title {
  font-family: "Inter", sans-serif;
  margin: 0 0 40px;
  max-width: 830px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.text__quote {
  font-family: "Inter", sans-serif;
  max-width: 738px;
  font-size: 24px;
  line-height: 38px;
}

.text__cite {
  font-family: "Inter", sans-serif;
  max-width: 732px;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  justify-content: flex-end;
}

.text__saying {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 26px;
  max-width: 830px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 46px 0 24px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 30px auto 0;
    max-width: 254px;
    margin: 0 auto;
  }
  .header__logo {
    width: 100%;
  }
  .cover {
    padding: 0;
  }
  .cover__title {
    width: 530px;
    font-size: 75px;
    line-height: 79px;
    margin: 90px auto 0;
  }
  .cover__subheading {
    margin: 25px auto 0;
    font-size: 30px;
    line-height: 36px;
  }
  .cover__image {
    width: 100%;
    margin: 30px auto 0;
  }

  .text {
    margin-top: 90px;
    padding: 24px;
  }
  .text__title {
    font-size: 45px;
    line-height: 49px;
    margin: 0 auto;
  }
  .text__quote {
    font-size: 24px;
    line-height: 34px;
    margin: 50px auto 0;
  }
  .text__cite {
    font-size: 24px;
    line-height: 34px;
    margin: 26px auto 0;
  }
  .text__saying {
    font-size: 16px;
    line-height: 26.08px;
    margin: 32px auto 0;
  }

  .footer {
    padding: 88px auto 0;
  }
  .footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 10px auto 0;
    max-width: 188px;
    margin: 0 auto;
  }
  .header__logo {
    width: 100%;
  }
  .cover {
    padding: 0;
  }
  .cover__title {
    width: 228px;
    font-size: 40px;
    line-height: 44px;
    margin: 50px auto 0;
  }
  .cover__subheading {
    width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 0;
  }
  .cover__image {
    width: 100%;
    margin: 40px auto 0;
  }
  .text {
    margin-top: 64px;
    padding: 16px;
  }
  .text__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto;
  }
  .text__quote {
    font-size: 24px;
    line-height: 30px;
    margin: 40px auto 0;
  }
  .text__cite {
    font-size: 24px;
    line-height: 24px;
    margin: 10px auto 0;
  }
  .text__saying {
    font-size: 16px;
    line-height: 26.08px;
    margin: 32px auto 0;
  }

  .footer {
    font-size: 14px;
    padding: 64px auto 0;
  }
  .footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
  }
}
